h1 {
    text-align: center;
    color: red;
}

#size-button {
    margin-bottom: 12px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    border: solid red;
}

.container > div {
    min-height: 20px;
    box-sizing: border-box;
    border: 1px dashed gainsboro;
}

